.defCol, .tempCol, .tempColFor5{
    display: grid;
    grid-template-columns: 1fr 9fr 6fr 6fr;
    padding: 12px 24px;
    border-bottom: 1px solid #EBEEF6;
    column-gap: 30px;
}

.defCol div{
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    color: #667281;
}

.tempCol{
    align-items: center;
    /* padding: 25px; */
    height: 25%;
}

.tempColFor5{
    /* padding: 18px 25px; */
    height: 20%;
    align-items: center;
}

.defColStatus select{
    border: none;
    font-size: 16px;
    outline: none;
}

.defColStatus select select{
    border: none;
}

.table{
    display: flex;
    flex-direction: column;
    transition: var(--main-transition);
}

.table_data{
    flex-grow: 1;
}

.pagination{
    padding: 0 24px;
    padding-top: 20px;
    margin-top: auto;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_button{
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    background-color: #F5F6FA;
    color: black;
}

.page_button:hover{
    background-color: #177EFF;
}

.disabled_button{
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    background-color: #F5F6FA;
    color: black;
    opacity: 0.5;
}

.page_button-active{
    transition: var(--main-transition);
    background-color: #177EFF;
    color: white;
}

.arrow{
    background-color: black;

}

.itemp_per_page select{
    padding: 10px;
    padding-right: 15px;
    border: none;
    background-color: #F5F6FA;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
}
